#root {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

table {
  border-collapse: collapse;
  max-height: 500px;
  max-width: 1200px;
  width: 100%;
}

thead {
  border-bottom: 5px solid #f5eee6;
  background-color: #f3d7ca;
  line-height: 30px;
}

tbody {
  background-color: #fff8e3;
}

th,
td {
  border: 3px solid #f5eee6;
}

.todoKind {
  width: 300px;
}

.check {
  width: 80px;
}

.todoMain {
  border: 3px solid #f5eee6;
  max-height: 600px;
  max-width: 1200px;
}

.tableMain {
  border-bottom: 3px solid #f5eee6;
  height: 500px;
  width: auto;
  overflow: auto;
}

.TodoRow {
  background-color: #cdcd8e;
  width: 20px;
  border: none;
  height: 20px;
  font-size: 10px;
  text-align: center;
  line-height: 5px;
  margin: 0px;
  padding: 0px;
}

.btnDel {
  padding: 5px;
  font-size: 10px;
  background-color: #e6a4b4;
}

.insrtBtn {
  padding: 5px;
  margin: 5px;
  font-size: 10px;
  background-color: #7bd3ea;
}
