#root {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

table {
  border-collapse: collapse;
  max-height: 500px;
  max-width: 400px;
  width: 100%;
}

thead {
  border-bottom: 10px solid white;
  background-color: #fffce0;
  line-height: 30px;
}

tbody {
  background-color: #f1efdd;
}

todoKind {
  width: 300px;
}

checkYn {
  width: 100px;
}

todoMain {
  border: 3px solid gray;
  max-height: 500px;
  height: 500px;
  max-width: 400px;
  width: auto;
  overflow: auto;
}
